extends layout
include ./mixins/image-tile

block content
    -var onleft = true
    each fact, index in content_item.facts
        -onleft = !onleft
        +image-tile(fact.title.value, fact.description.getHtml(), fact.image.value[0].url, onleft)