extends layout
include ./mixins/image-tile

block content
    -var onleft = true
    each fact, index in content_item.elements.facts.linkedItems
        -onleft = !onleft
        +image-tile(fact.elements.title.value, fact.elements.description.resolveHtml(), fact.elements.image.value[0].url, onleft)