include ./mixins/header
include ./mixins/footer

doctype html
html
  head
    title= 'Dancing Goat'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(type='text/javascript', src='/scripts/lang-dropdown.js')
    script(type='text/javascript', src='/scripts/client.js')
  body
    div#root.page-wrap
      +header
      .container
        block content
      +footer