extends layout
include ./mixins/filter-checkbox
include ./mixins/filters-productstatus
include ./mixins/filters-coffeeprocessings
include ./mixins/filters-brewermanufacturers
include ./mixins/filters-brewerprices
include ./mixins/product-tile

block content
    -   
        var list = (type == "coffees") ? coffees : brewers;
    .container.product-page-container
        nav.sub-menu.row
            .store-menu-list.row
                ul
                    li
                        a(href='/store/coffees') Coffee
                    li
                        a(href='/store/brewers') Brewers
        .product-page.row
            .flex
                aside.col-md-4.col-lg-3.product-filter
                    -if(type == "coffees")
                        +filters-coffeeprocessings(processings)
                    -else
                        +filters-brewermanufacturers(manufacturers)
                        +filters-brewerprices
                    +filters-productstatus(productStatuses)
                .col-md-8.col-lg-9.product-list(id='product-list')
                    each p in list
                        +product-tile(p)