mixin header
  header.header(role='banner')
    .menu
      .container
        nav(role='navigation')
          ul
            li
              a(href='/') Home
            li
              a(href='/store') Product Catalog
            li
              a(href='/articles') Articles
            li
              a(href='/about-us') About Us
            li
              a(href='/cafes') Cafes
            li
              a(href='/contacts') Contact
    .header-row
      .container
        .col-xs-8.col-md-8.col-lg-4.logo
        h1.logo
          a.logo-link(href="/") Dancing Goat